<%# 
  <div class="navbar navbar-default navbar-fixed-bottom" style="background-color:rgb(20,20,20);height:100px;">
    <a href="/index"><img src="/img/newGadditLogo.png" style="width:30%;height:100%;margin-left:35%;"></a>
    <div class="container">
      <div style="text-align:left;">
    </div>
    </div>
</div> %>

</body>
</html>
