<% include ../partials/boilerplate.ejs %>
<form action="../login">
  First Name:
  <input type="text" name="First Name: "><br></br>
  Last Name:
  <input type="text" name="Last Name: "><br></br>
</form>
<% include ../partials/footer.ejs %>
