<% include ../partials/boilerplate.ejs %>

<form method="POST" action="/">
  First Name:
  <input type="text" name="first_name"/><br></br>
  Last Name:
  <input type="text" name="last_name"/><br></br>
  username:
  <input type="text" name="user_name"/><br></br>
  password:
  <input type="text" name="password"/><br></br>
  <input type="submit"><br></br>

  <%# Email:
  <input type="text" name="Email"><br></br>
  Password:
  <input type="password" name="password"><br></br>
  Confirm Password:
  <input type="password" name="password"><br></br> %>
</form>

<% include ../partials/footer.ejs %>
