<div class="posts">
  <form method="POST" action="/index">
    <input type="hidden" name="post_user" value="<%=data.user_name%>">
    <input type="text" id='box'name="post_title" placeholder="Post title">
    <textarea rows="7" id='bigbox'cols="50" name="post_content" placeholder="Post content"></textarea>
    <input id="submitButton" type=submit>
</div>
