<% include ../partials/boilerplate.ejs %>
<div class="navbar navbar-default navbar-fixed-top">
<div class="ui inverted menu" style="height:50px;">
  <a id="toggle" class="left item">
    <img src="/img/hamburger.png"></img>
  </a>
  <a class="right item" style="color:red;font-size:18px;font-family:comic-sans;" href="/logout">
    Logout
  </a>
</div>
</div>

<div class="ui left vertical inverted sidebar labeled icon menu">
  <a class="item" href="/home">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
<div class="feed" style="margin-top:50px;">

  <% allPosts.forEach(el => { %>
  <div class="ui feed">
    <div class="event">
      <div class="label">
        <img src="/img/avatar.png" style="margin-top:7px;margin-left:15px;">
      </div>
      <div class="content">
        <div class="summary">
           <a href=/users/<%=el.post_user%>><%=el.post_user%></a> created a post
        </div>
        <div class="extra text">
          <a href="/index/<%=el.id%>"> <%=el.post_title%> </a>
        </div>
    </div>
   </div>
  </div>

  <% }) %>



  <script>
  $('#toggle').click(function(){
    $('.ui.labeled.icon.sidebar')
    .sidebar('toggle')
  })
</script>

<% include ../partials/footer.ejs %>
