<% include ../partials/boilerplate.ejs %>

<script> let timer = setTimeout(function() {
window.location='http://localhost:3000/index'
  }, 3000);
</script>

<h2> Your post has been submitted! please click <a href=/index>here</a> to return. </h2>
<h2> Or wait 3 seconds to be redirected automatically </h2>
<% include ../partials/footer.ejs %>
