<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/modal.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/modal.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/modal.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/modal.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
  </head>
  <body style="background-color: white">
    <div style="margin-bottom:20px;">
    <div class="navbar navbar-default navbar-fixed-top">
    <div class="ui inverted menu" style="height:60px;">
      <a id="toggle">
        <img src="/img/hamburger.png" style="width:40px;height:35px;margin-top:9px;margin-left:5px;margin-right:10px;"></img>
      </a>
      <a class="logout" style="margin-left:1230px;font-size:20px;margin-top:13px;color:red;text-align:rigt;" href="/logout">
        Logout
      </a>
    </div>
    </div>
  </div>

<form class="ui form segment" action="/signup" method="POST" style="width:400px;margin:0 auto; margin-top:100px;">
  <p>Let's go ahead and get you signed up.</p>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" name="first_name" type="text">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" name="last_name" type="text">
    </div>
  </div>
  <div class="field">
    <label>Username</label>
    <input placeholder="Username" name="user_name" type="text">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password">
  </div>
  <button class="ui red button">Submit</button>
  <div class="ui error message"></div>
</form>

<% include ../partials/footer.ejs %>
